# .env.example
# > copia i valori da questo file e incollali nel tuo ".env" locale
# > modifica i valori incollati inserendo ilTuoUsername al posto di <db_user>
# > e laTuaPassword al posto di <db_password>

SERVER_PORT=3000

DATABASE_URL="mongodb+srv://<db_user>:<db_password>@greenmapgruppo20.r20whsr.mongodb.net/"